body {
    margin: 0;
    padding: 0;
}

html {
   scroll-behavior: smooth;
}

.fotos img {
    width: 100%;
    height: 600px;
    display: block;
}

.Div {
    background-color: #ffffff5d;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.colds {
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* щоб не переносилось на новий рядок */
}

.foh {
    text-decoration: none;
    color: black;
    font-size: 24px;
    
}

.cold li {
  white-space: nowrap; /* забороняє перенос тексту */
}

.colds :hover {
    background-color: rgba(255, 255, 255, 0.489);
}

.custom-select {
    width: 170px;
    position: relative;
    left: -10px;
    cursor: pointer;
    border: 1px solid white;
     background-color: #dedede;
    user-select: none;
}

.selected-option, .option {
display: flex;
padding: 10px;
align-items: center;
gap: 8px;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    border-top: 1px solid #ccc;
    background-color: #dedede;
}

.options :hover {
    background-color: #5a5a5a8d;
}

.custom-select img {
    width: 25px;
    height: 15px;
}

.fotoWeb {
   display: flex;
   margin: 0 auto;
   width: 980px;
   height: 450px; 
}

.fotoWebs {
   width: 620px;
   height: 400px;  
}

.hidden {
    display: none;
}


.Web {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: minmax(1);
}



.left {
grid-column: 1/2;
 background: linear-gradient(90deg, #ffffff 0%, #dedede 100%);
border-right: 1px solid black;
}

.center {
grid-column: 2/12;
padding: 10px;
}

.right {
grid-column: 12/13;
background: linear-gradient(90deg, #dedede 0%, #ffffff 101%);
border-left: 1px solid black;
}


.center h1 {
    text-align: center;
       font-size: 34px;
}

.center h2 {
    text-align: center;
     font-size: 30px;
}

.center p {
    font-size: 20px;
}

.center h3 {
    font-size: 26px;
}

footer {
    margin: 0;
    padding: 0;
}

footer h3  {
    font-size: 30px;
}
footer p {
    font-size: 20px;
}

.People {
    font-size: 20px;
}
.People li {
    margin-bottom: 8px;
}

.foot {
    background-color: rgb(64, 64, 78);
    width: 100%;
    padding: 40px 100px 100px 100px;
    box-sizing: border-box; 
    color: white;
}

.dol {
text-decoration: none;
color: black;
font-size: 48px;
}

.fol1 {
position: fixed;
top: 600px;
right: 50px;
}

.fol2 {
position: fixed;
top: 610px;
right: 50px;
}

.Colds {
    font-size: 21px;
}

.toggle {
    all: unset;
    margin-bottom: 5px;
    cursor: pointer;
}

.content {
    border: 1px solid rgba(198, 193, 183, 0.567);
    border-radius: 10px;
    padding: 8px;
    background-color:#fafafa;
}

.burger {
    display: none;
    font-size: 32px;
    cursor: pointer;
    user-select: none;
}

@media (max-width: 1024px) {
.burger {
    display: block;
}

.colds {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 270px;
    top: 30px;
    left: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.255);
    border: 1px solid black;
}

.colds.active {
    display: flex;
}
}

@media (max-width: 1224px) {
.foh {
    font-size: 18px;
}

.custom-select {
    width: 170px;
    position: relative;
    left: -10px;
    cursor: pointer;
    border: 1px solid white;
     background-color: #dedede;
    user-select: none;
}

.selected-option, .option {
display: flex;
padding: 8px;
align-items: center;
gap: 6px;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    border-top: 1px solid #ccc;
    background-color: #dedede;
}

}


@media (min-width: 1430px) and (max-width: 1499px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 540px;
    height: 440px;
}
}

@media (min-width: 1399px) and (max-width: 1430px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 515px;
    height: 435px;
}
}

@media (min-width: 1301px) and (max-width: 1399px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 500px;
    height: 425px;
}
}

@media (min-width: 1231px) and (max-width: 1300px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 485px;
    height: 425px;
}
}

@media (min-width: 1006px) and (max-width: 1140px) {
    .fotoWeb {
  width: 825px;
    height: 410px;
}

    .fotoWebs {
  width: 835px;
    height: 410px;
    margin-bottom: 8px;
}
}

@media (min-width: 1141px) and (max-width: 1230px) {
    .fotoWeb {
  width: 865px;
    height: 425px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 855px;
    height: 420px;
    margin-bottom: 8px;
}

    .hidden {
display: none;
}
}


@media (min-width: 896px) and (max-width: 1005px) {


    .fotoWeb {
  width: 690px;
    height: 370px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 745px;
    height: 370px;
    margin-bottom: 8px;
}
    .hidden {
display: none;
}

}

@media (min-width: 696px) and (max-width: 895px) {


    .fotoWeb {
  width: 505px;
    height: 262px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 575px;
    height: 282px;
    margin-bottom: 8px;
}
    .hidden {
display: none;
}

}



@media (min-width: 466px) and (max-width: 695px) {


    .fotoWeb {
  width: 325px;
    height: 222px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 415px;
    height: 200px;
    margin-bottom: 5px;
}

    .hidden {
display: none;
}
}



@media (min-width: 366px) and (max-width: 465px){


    .fotoWeb {
  width: 250px;
    height: 160px;
}


    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: 180px;
    margin-bottom: 5px;
}
    .hidden {
display: none;
}

.foot {
    background-color: rgb(64, 64, 78);
    padding: 30px 50px 50px 50px;
    box-sizing: border-box;
    color: white;
}
}


@media (min-width: 320px) and (max-width: 365px){

    .fotoWeb {
    width: 180px;
    height: 120px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 250px;
    height: 127px;
    margin-bottom: 5px;
}

    .hidden {
display: none;
}

.foot {
    background-color: rgb(64, 64, 78);
    padding: 30px 40px 40px 40px;
    box-sizing: border-box;
    color: white;
}

}