body {
    margin: 0;
    padding: 0;
}

.foto img {
    width: 100%;
    height: 600px;
    display: block;
}




.ul {
background-color: #ffffff5d;
width: 100%;
 position: absolute;
 top: 0px;
 left: 0px;
}

.menu {
    display: flex;
    gap: 10px;
    list-style-type: none;
    box-sizing: border-box; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}


.menu :hover {
background-color: rgba(255, 255, 255, 0.489);

}



/* .menu li {
  white-space: nowrap; забороняє перенос тексту
} */

.cal {
    text-decoration: none;
    color: black;
    font-size: 24px;
}

.Web {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);

}

.custom-select {
    width: 170px;
    position: relative;
    left: -10px;
    cursor: pointer;
    border: 1px solid white;
     background-color: #dedede;
    user-select: none;
}

.selected-option, .option {
display: flex;
padding: 10px;
align-items: center;
gap: 8px;
}

.options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    border-top: 1px solid #ccc;
    background-color: #dedede;
}

.options :hover {
    background-color: #5a5a5a8d;
}

.custom-select img {
    width: 25px;
    height: 15px;
}
.hidden {
    display: none;
}


.fotoWeb {
  display: flex;
  margin: 0 auto;
  width: 980px;
  height: 450px;
}

.fotoWebs {
  width: 620px;
  height: 400px;
  margin: 0 auto;
}


.left {
    grid-column: 1/2;
    background: linear-gradient(90deg, #ffffff 0%, #dedede 100%);
    border-right: 1px solid black;
}

.center {
     grid-column: 2/12;
     padding: 10px;
}

.center h1 {
    text-align: center;
       font-size: 34px;
}

.center h2 {
    text-align: center;
     font-size: 30px;
}

.center p {
    font-size: 20px;
}

.center h3 {
    font-size: 26px;
}

.right {
     grid-column: 12/13;
     background: linear-gradient(90deg, #dedede 0%, #ffffff 101%);
     border-left: 1px solid black;
}




footer {
    margin: 0;
    padding: 0;
    width: 100%;
}
footer h3  {
    font-size: 30px;
}
footer p {
    font-size: 20px;
}

.People {
    font-size: 20px;
}
.People li {
    margin-bottom: 8px;
}

.foot {
    background-color: rgb(64, 64, 78);
    padding: 40px  100px 100px 100px;
    box-sizing: border-box; 
    color: white;
}


.dol {
    font-size: 42px;
    position: absolute;
    position: fixed;
    top: 600px;
    right: 50px;
}

.dols {
    font-size: 42px;
    position: absolute;
    position: fixed;
    top: 610px;
    right: 50px;
}

.dola {
    text-decoration: none;
    color: #000;
}



html {
  scroll-behavior: smooth;
}

.top {
    text-decoration: none;
    color: #000;
}

.toggle{
    all: unset;
    margin-bottom: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.places {
font-size: 20px;
}
  



  .content{
    border: 1px solid rgba(198, 193, 183, 0.567);
    border-radius: 10px;
    padding: 8px;
    background-color:#fafafa;
}

  .hidden{
    display:none
}



.burger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  user-select: none;
}



@media (max-width: 1024px) {
.burger {
    display: block;
}

.menu {
    display: none;
    flex-direction: column;
    background-color: #cccccc3e;
    width: 270px;
    position: absolute;
    top: 30px;
    left: 10px;
    border: 1px solid black;
    padding: 10px;
}

.menu.active {
    display: flex;
}

.foto img {
    width: 100%;
    height: 370px;
    display: block;
}

.fotoWeb {
    width: 820px;
    height: 401px;
}

.fotoWebs {
    width: 820px;
    height: 401px;
}
}

@media (max-width: 1224px) {
    .cal {
        font-size: 18px;
    }

.custom-select {
    width: 130px;
    position: relative;
    left: -10px;
    cursor: pointer;
    border: 1px solid white;
    background-color: #dedede;
    user-select: none;
}

.selected-option, .option {
display: flex;
padding: 7px;
align-items: center;
gap: 6px;
}
}

@media (min-width: 1431px) and (max-width: 1499px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 580px;
    height: 440px;
}
}

@media (min-width: 1400px) and (max-width: 1430px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 555px;
    height: 435px;
}
}

@media (min-width: 1301px) and (max-width: 1399px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 530px;
    height: 425px;
}
}

@media (min-width: 1231px) and (max-width: 1300px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 475px;
    height: 425px;
}
}

@media (min-width: 1141px) and (max-width: 1230px) {
    .fotoWeb {
  width: 865px;
    height: 425px;
}

    .fotoWebs {
  width: 865px;
    height: 425px;
    margin-bottom: 8px;
}
}

@media (min-width: 1006px) and (max-width: 1140px) {
    .fotoWeb {
  width: 835px;
    height: 410px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
  width: 835px;
    height: 410px;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}
}

@media (min-width: 896px) and (max-width: 1005px) {

    .fotoWeb {
  width: 745px;
    height: 370px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
  width: 745px;
    height: 370px;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}

}

@media (min-width: 696px) and (max-width: 895px) {

    .fotoWeb {
  width: 505px;
    height: 282px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 505px;
    height: 282px;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}

}

@media (min-width: 466px) and (max-width: 695px) {

    .fotoWeb {
  width: 325px;
    height: 200px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
  width: 325px;
    height: 200px;
    margin-bottom: 8px;
}

.hidden {
    display: none;
}
}



@media (min-width: 366px) and (max-width: 465px){

    .fotoWeb {
  width: 250px;
    height: 170px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
  width: 250px;
    height: 170px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.foot {
    background-color: rgb(64, 64, 78);
    padding: 30px 50px 50px 50px;
    box-sizing: border-box;
    color: white;
}
}


@media (min-width: 320px) and (max-width: 365px){

    .fotoWeb {
    width: 180px;
    height: 120px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 180px;
    height: 120px;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}

.foot {
    background-color: rgb(64, 64, 78);
    padding: 30px 40px 40px 40px;
    box-sizing: border-box;
    color: white;
}
}













