body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}



.start {
background-color: #ffffff5d;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
}

.stul {
    display: flex;
    gap: 10px;
    list-style-type: none;
    box-sizing: border-box; 
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap; /* щоб не переносилось на новий рядок */
}

/* .stul li {
    white-space: nowrap;
} */

.Colds {
    font-size: 24px;
    text-decoration: none;
    color: black;
}

.stul :hover {
    background-color: rgba(255, 255, 255, 0.489);
}

.fotos img {
    width: 100%;
    height: 600px;
    display: block;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1);
}


.fotoWeb {
  display: flex;
  margin: 0 auto;
  width: 980px;
  height: 450px;
}

.fotoWebs {
  width: 620px;
  height: 400px;
  margin: 0 auto;
}

.left {
grid-column: 1/2;
 background: linear-gradient(90deg, #ffffff 0%, #dedede 100%);
border-right: 1px solid black;
}

.center {
grid-column: 2/12;
padding: 10px;
}

.center h1 {
    text-align: center;
       font-size: 34px;
}

.center h2 {
    text-align: center;
     font-size: 30px;
     color: black;
}

.center p {
    font-size: 20px;
}

.center h3 {
    font-size: 26px;
}
.right {
grid-column: 12/13;
 background: linear-gradient(90deg, #dedede 0%, #ffffff 101%);
border-left: 1px solid black;
}

.Cold {
    position: absolute;
    position: fixed;
    top: 600px;
    right: 50px;
    font-size: 42px;
}

.Coldss {
    position: absolute;
    position: fixed;
    top: 610px;
    right: 50px;
    font-size: 42px;
}

.dolas {
    text-decoration: none;
    color: black;
}

html {
  scroll-behavior: smooth;
}

.custom-select {
    width: 170px;
    left: -10px;
    position: relative;
    cursor: pointer;
    user-select: none;
    border: 1px solid white;
    background-color: #dedede;
}
.selected-option, .option {
    padding: 10px;
    align-items: center;
    gap: 8px;
    display: flex;
}

.options { 
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    border-top: 1px solid #ccc;
    background-color: #dedede;
}

.option :hover {
    background-color: aliceblue;
}


.custom-select img {
    width: 25px;
    height: 15px;
}

.hidden {
display: none;
}

.ol {
    font-size: 20px;
    
}
.toggle {
    all: unset;
    margin-bottom: 5px;
    cursor: pointer;
}

.toggle {
    display: inline-block;
}

  .content{
    border: 1px solid rgba(198, 193, 183, 0.567);
    border-radius: 10px;
    padding: 8px;
    background-color:#fafafa;
}




footer {
    margin: 0;
    padding: 0;
    width: 100%;
}

.foot {
    background-color: rgb(64, 64, 78);
    padding: 40px 100px 100px 100px;
    box-sizing: border-box;
    color: white;
}

.People li {
    margin-bottom: 10px;
     font-size: 20px;
}

footer p {
    font-size: 20px;
}

footer h3 {
    font-size: 30px;
}

.burger {
display: none;
font-size: 26px;
cursor: pointer;
user-select: none;
    }

@media (max-width: 1024px) {
.burger {
display: block;

 }

 .fotos img {
    width: 100%;
    height: 370px;
    display: block;
}

 .stul {
    display: none;
    flex-direction: column;
    position: absolute;
    width: 270px;
    top: 30px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.255);
    border: 1px solid black;
    padding: 10px;
 }

 .stul.active {
    display: flex;
 }
}

@media (max-width: 1224px) {
.Colds {
    font-size: 18px;
}
.custom-select {
    width: 130px;
    left: -10px;
    position: relative;
    cursor: pointer;
    user-select: none;
    border: 1px solid white;
    background-color: #dedede;
}
.selected-option, .option {
    padding: 8px;
    align-items: center;
    gap: 6px;
    display: flex;
}

}



@media (min-width: 1430px) and (max-width: 1499px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 540px;
    height: 440px;
}
}

@media (min-width: 1399px) and (max-width: 1430px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 515px;
    height: 435px;
}
}

@media (min-width: 1301px) and (max-width: 1399px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 500px;
    height: 425px;
}
}

@media (min-width: 1231px) and (max-width: 1300px) {
    .fotoWeb {
  width: 965px;
    height: 435px;
}

    .fotoWebs {
  width: 485px;
    height: 425px;
}
}

@media (min-width: 1141px) and (max-width: 1230px) {
    .fotoWeb {
  width: 865px;
    height: 425px;
}

    .fotoWebs {
  width: 855px;
    height: 420px;
    margin-bottom: 8px;
}
}

@media (min-width: 1006px) and (max-width: 1140px) {
    .fotoWeb {
  width: 825px;
    height: 410px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 835px;
    height: 410px;
    margin-bottom: 8px;
}
.hidden {
    display: none;
}
}

@media (min-width: 896px) and (max-width: 1005px) {

    .fotoWeb {
  width: 690px;
    height: 370px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 745px;
    height: 370px;
    margin-bottom: 8px;
}
.hidden {
    display: none;
}
}

@media (min-width: 696px) and (max-width: 895px) {

    .fotoWeb {
  width: 505px;
    height: 262px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 575px;
    height: 282px;
    margin-bottom: 8px;
}
.hidden {
    display: none;
}
}

@media (min-width: 466px) and (max-width: 695px) {

    .fotoWeb {
  width: 325px;
    height: 222px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 415px;
    height: 200px;
    margin-bottom: 5px;
}
.hidden {
    display: none;
}
}



@media (min-width: 366px) and (max-width: 465px){

    .fotoWeb {
  width: 250px;
    height: 160px;
}


    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 300px;
    height: 180px;
    margin-bottom: 5px;
}
.hidden {
    display: none;
}

.foot {
    background-color: rgb(64, 64, 78);
    padding: 30px 50px 50px 50px;
    box-sizing: border-box;
    color: white;
}
}


@media (min-width: 320px) and (max-width: 365px){

    .fotoWeb {
    width: 180px;
    height: 120px;
}

    .fotoWebs {
    display: flex;
    margin: 0 auto;
    width: 250px;
    height: 127px;
    margin-bottom: 5px;
}
.hidden {
    display: none;
}


.foot {
    background-color: rgb(64, 64, 78);
    padding: 30px 40px 40px 40px;
    box-sizing: border-box;
    color: white;
}
}


